{% extends "base.html" %}
{% block content %}

	<img src="{{ url_for('static', filename='1.png') }}" alt="((((">
	
	<div><strong>Процессор (CPU)</strong>-это 
		<ol>
			<li>интегральная схема, исполняющая машинный код.</li>
			<li>устройство компьютера, исполняющее функции управления  другими устройствами и обработки данных</li>
		</ol>
	</div>

	<div>
		<p>Любой CPU состоит из: </p>
		<ul>
			<li>блока выборки инструкций</li>
			<li>блоков декодирования инструкций</li>
			<li>блоков выборки данных</li>
			<li>управляющего блока</li>
			<li>блоков выполнения инструкций</li>
			<li>блоков сохранения результатов</li>
			<li>блока работы с прерываниями</li>
			<li>ПЗУ, содержащего микрокод</li>
			<li>набора регистров</li>
			<li>счетчика команд</li>
		</ul>
	</div>

	<div>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Шина') }}">Шина</span>-это группа проводников, соединяющих различные устройства. Шины можно разделить на группы в соответствии с выполняемыми функциями. Они могут быть внутренними по отношению к процессору и служить для передачи данных в АЛУ и из АЛУ, а могут быть внешними по отношению к процессору и связывать процессор с памятью или устройствами ввода-вывода.</p>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Cлово') }}"> Слово (Машиное слово)</span> - совокупность
            смежных байт памяти фиксированной длины, зависящее от аппаратной платформы и программного обеспечения. Под машинным словом понимается минимальная единица обмена между процессором и памятью. Размер определяется разрядностью шины и разрядностью регистров процессора. Биты в слове нумеруются с 0. В Little Endian — байты внутри машинного слова нумеруются справа налево(x86). В Big Endian — байты внутри машинного слова нумеруются слева направо(ARM).</p>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Память') }}">
            Память </span>- часть вычислительной машины, физическое устройство или среда для хранения данных, используемая в вычислениях.</p>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Двойное слово') }}">
            Двойное слово </span> - машинное слово двойной длины.</p>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Бит') }}">
            Бит </span> – основная единица памяти. Бит может содержать 0
            или 1. Это самая маленькая единица памяти.</p>
		<p><span class="tooltip" data-tooltip="{{ tool_for('Байт') }}">
            Байт </span>– минимальная адресуемая единица памяти.</p>
	</div>
{% endblock %}
