{% extends "base.html" %}
{% block content %}
	<div>
		<p><strong>Принцип двоичного кодирования</strong> - вся информация, как данные, так и команды, кодируются двоичными цифрами 0 и 1. Каждый тип информации представляется двоичной последовательностью и имеет свой формат. Последовательность битов в формате, имеющая определенный смысл, называется полем.</p>
	</div>
	<div>
		<p><strong>Принцип линейности и однородности памяти</strong> можно описать следующими словами: </p>
		<ul>
			<li>Линейность – память представляет собой линейно упорядоченный набор ячеек.</li>
			<li>Линейная упорядоченность – множество на котором задан линейный порядок</li>
			<li>Линейный порядок – все ячейки пронумерованы.</li>
			<li>Неразличимость - в памяти хранятся и данные и программы.</li>
		</ul>
	</div>
    <div>
        <p><strong>Принцип адресуемости</strong> - Каждая ячейка памяти имеет свой уникальный адрес. Двоичные коды команд и данных разделяются на единицы информации, называемые словами, и хранятся в ячейках.</p>
    </div>
    <div>    
        <p><strong>Принцип программного управления</strong> -  программа состоит из набора команд, выполняющихся процессором автоматически в определенной последовательности. Выборка программы из памяти осуществляется с помощью счетчика команд. Этот регистр процессора последовательно увеличивает хранимый в нем адрес очередной команды на длину команды. А так как команды программы расположены в памяти друг за другом, то тем самым организуется выборка цепочки команд из последовательно расположенных ячеек памяти. Если же нужно после выполнения команды перейти не к следующей, а к какой-то другой, используются команды условного или безусловного перехода, которые заносят в счетчик команд номер ячейки памяти, содержащей следующую команду. Выборка команд из памяти прекращается после достижения и выполнения команды «стоп».</p>
    </div>
    <div>
        <p><strong>Принцип постоянного цикла</strong> - процессор работает в режиме постоянной готовности, в бесконечном цикле осуществляет обработку данных в несколько этапов:</p>
        <ol>
            <li>Выборка</li>
            <li>Вычисление следующего адреса</li>
            <li>Декодирование</li>
            <li>Подготовка операндов</li>
            <li>Исполнение</li>
            <li>Запись результатов по месту назначания</li>
        </ol>
    </div>
    <div>
        <p><strong>Счетчик команд(IP)</strong> – один из регистров процессора. Счетчик команд служит для автоматической выборки команды из последовательных ячеек памяти.</p>
    </div>
    <div>
        <p><strong>Регистры</strong> – это определенные участки памяти внутри самого процессора, который используется для промежуточного хранения информации, обрабатываемой процессором. Некоторые регистры содержат только определенную информацию.</p>
    </div>
    <div>
        <p><strong>Память</strong> – часть компьютера, где хранятся программы и данные. Память может принимать информацию из других устройств, запоминать ее и выдавать по запросу другим устройствам. Память состоит из ячеек, расположенных линейно друг за другом, каждая из которых может хранить некоторую порцию информации. Каждая ячейка имеет номер, который называется адресом, По адресу можно ссылаться на определенную ячейку. Если ячейка состоит из к битов, она может содержать любую из 2k-комбинаций.</p>
    </div>
    <div>
        <p><strong>Команды переходов</strong> – команды, смысл которых – изменение счетчика команд, они содержат адрес следующей команды.</p>
    </div>
    <div>
        <p><strong>Безусловный переход (jump)</strong> – изменяет IP (не доходит до АЛУ).</p>
    </div>
    <div>
        <p><strong>Условный переход</strong> – проверка условия и переход.</p>
    </div>
    <div>
        <p>Другие команды: арифметические, прерывания, логические.</p>
    </div>

    <hr>

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 2</div>
        <img src="{{ url_for('static', filename='2_1.jpeg') }}"
             style="width:60%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 2</div>
        <img src="{{ url_for('static', filename='2_2.jpeg') }}"
             style="width:60%">
      </div>


      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
    </script>
{% endblock %}
