{% extends "base.html" %}
{% block content %}

    <div>
        <p>Центральный процессор включает в себя <strong>устройство
            управления</strong>и <strong>логическое устройство</strong>.</p>
    </div>
    <div>
        <p><strong>АЛУ</strong> – арифметико-логическое устройство, выполняет сложение, вычитание и другие
простые операции над входными данными и помещает результат в выходной регистр.
Этот выходной регистр может помещаться обратно в один из регистров. Он может быть
сохранен в памяти, если это необходимо. Входные и выходные регистры есть не у всех
компьютеров.</p>
    </div>
    <div>
        <p><strong>Устройство управления</strong> — узел микропроцессора, выполняющий управление прочими
компонентами. В задачи устройства управления входит выборка и декодирование потока
инструкций, выдача кодов функций в исполнительные устройства, синхронизация узлов микропроцессора.</p>
    </div>
    <div>
        <p>
            <strong>Типы команд</strong>: команды типа регистр-память и типа регистр-регистр. Команды первого
    типа вызывают слова из памяти, помещают их в регистры, где они используются в
    качестве входных данных АЛУ. («Слова» — это такие элементы данных, которые
    перемещаются между памятью и регистрами.) Словом может быть целое число. Другие
    команды этого типа помещают регистры обратно в память.
    Команды второго типа вызывают два операнда из регистров, помещают их во входные
    регистры АЛУ, выполняют над ними какую-нибудь
    арифметическую или логическую операцию и переносят результат обратно в один из
    регистров. Этот процесс называется циклом тракта данных. В
    какой-то степени он определяет, что может делать машина. Чем быстрее происходит
    цикл тракта данных, тем быстрее компьютер работает.
        </p>
    </div>

    <div>
        <p><strong>MIPS (Millions of Instructions Per Second)</strong> — величина, показывающая сколько миллионов
инструкций в секунду выполняет процессор в некотором синтетическом тесте.</p>
    </div>

    <div>
        <p><strong>Герц (Гц, Hz)</strong> — единица измерения частоты периодических процессов. Один герц
соответствует одному периоду колебаний в секунду. Мегагерц – 10 6 Гц.</p>
    </div>

    <div>
        <p><strong>Такт</strong> - промежуток времени между двумя последовательными импульсами, которые
подаёт генератор тактовых частот (специальная микросхема, которая формирует
тактовые частоты для процессора и материнской платы). Генератор тактовых частот
посылает специальные импульсы, которые проходят через все части архитектуры
компьютера и синхронизируют их работу.</p>
    </div>

    <div>
        <p><strong>Тактовая частота</strong>— количество синхронизирующих тактов, поступающих на вход схемы
за одну секунду. характеризует число основных операций компьютера, производимых в
секунду, измеряется в герцах. Различные шины и чипы
на материнской плате компьютера могут иметь различную тактовую частоту.</p>
    </div>

{% endblock %}