{% extends "base.html" %}
{% block content %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    <script>
      window.addEventListener("load", function () {
        var el = document.getElementById("f1");
        katex.render("x = \\sum_{k=0}^{n-1} a_kb^k", el);
        var e2 = document.getElementById("f2");
        katex.render("a_k", e2);
        katex.render("0\\leq a_k \\leq (b - 1)", document.getElementById("f3"));
        katex.render("[log_b{x} + 1]", document.getElementById("f4"));
        katex.render("a_1, a_2...a_n", document.getElementById("f5"));
        katex.render("a_1*b_{n-1} + ... + a_n*b_0",
            document.getElementById("f6"));
      });
    </script>
    <div>
        <p><strong>Система счисления</strong> - способ записи с
            помощью опеределённого набора цифр. Системы счисления
            подразделяются на позиционные и непозиционные. В
            позиционных системах счисления величина, обозначаемая
            цифрой в записи числа, зависит от её положения в числе
            (позиции). Количество используемых цифр называется
            основанием системы счисления. b-ричная система счисления
            определяется числом b>1 - её основанием. Для представления
            числа x в b-ричной системе счисления его представляют в
            виде линейной комбинации степеней числа b:
            <span id="f1"></span>, где <span id="f2"></span> - это
            целые числа, называемые цифрами, удовлетворяющие неравенству
            <span id="f3"></span>.
        </p>
    </div>
    <div>
        <p><strong>Позиционна система счисления</strong> обладает
            рядом важных свойств:</p>
        <ol>
            <li>Основание системы всегда записывается в ней как 10</li>
            <li>Для записи числа x в b-ричной системе счисления
                требуется <span id="f4"></span> цифр</li>
            <li>Сравнение чисел. Для сравнения надо слева направо
                сравнивать цифры, стоящие на одинаковых позициях.</li>
            <li>Сложение чисел. Справа налево складываются отдельные
                цифры.</li>
        </ol>
    </div>
    <div>
        <p><strong>Переход к другому основанию</strong></p>
        <p>Перевод произвольной позиционной системы счисления <strong>в
            десятичную:</strong></p>
        <ul>
            <li>Если число в b-ричной системе счисления равно
            <span id="f5"></span>то для перевода в десятичную систему необходимо вычислить следующую сумму:
            <span id="f6"></span></li>
        </ul>

        <p>Перевод из <strong>двоичной</strong> в
            <strong>восьмеричную</strong> или <strong>шестнадцатеричную</strong> системы:</p>
            <ul>
                <li>Для восьмеричной — разбиваем число на триплеты</li>
                <li>Для шестнадцатеричной — разбиваем на квартеты</li>
            </ul>
        <p>Перевод <strong>восьмеричной</strong> и
            <strong>шестнадцатеричной</strong> систем в
            <strong>двоичную</strong>:</p>
        <ul>
            <li><p>Для этого существует алгоритм обратный предыдущему пункту.</p></li>
        </ul>
    </div>
{% endblock %}
