{% extends "base.html" %}
{% block content %}
    <div>
        <p>Основным элементом всех схемотехнических решений является
            <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентиль</span>.</p>
        <p><strong>Вентиль</strong> — цифровая схема, реализующая определённую базовую логическую операцию. Для изображения схем существует 2 нотации.</p>
        <img src="{{ url_for('static', filename='5_1.png') }}" alt=":(">
        <p>При конструировании интегральных схем в качестве базовых
            <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентилей</span> используются NOR, NAND. Каждый из
            этих <span class="tooltip" data-tooltip="{{ tool_for('Вентиль') }}">вентилей</span>
            является системообразующим. <span class="tooltip" data-tooltip="{{ tool_for('Вентиль') }}">Вентиль</span> может иметь разное
            количество входов и выходов. Работу любого <span class="tooltip" data-tooltip="{{ tool_for('Вентиль') }}">вентиля</span> можно
            описать одним из двух эквивалентных способов — таблица
            истинности либо логическое выражение. В качестве логического
            выражения можно взять, например, ДНФ — дезъюнктивную
            нормальную форму. Любую логическую функцию можно привести к
            однозначной дизъюнктивной форме.
        </p>
        <p>Используя системообразующие <span class="tooltip" data-tooltip="{{ tool_for('Вентиль') }}">вентили</span>, можно создать, например, сумматор - устройство используеющееся при сложении и умножении последовательности битов.</p>
        <p>
            <span class="tooltip" data-tooltip="{{ tool_for('Сумматор')}}"> Сумматор</span> - устройство, преобразующее
            информационные сигналы (аналоговые или цифровые) в сигнал, эквивалентный сумме этих сигналов.
        </p>
        <p><span class="tooltip"
                 data-tooltip="{{tool_for('Полный сумматор')}}"> Полный
            сумматор</span> - элемент, который суммирует три бита A, B и C, где C — бит переноса из предыдущего разряда.
        </p>
        <img src="{{ url_for('static', filename='summator.png') }}"
             alt=":(">
    </div>
    <div>
        <p><strong>Операции сдвига</strong></p>
        <p><strong>Битовый сдвиг</strong> - изменение позиций битов в
            слове. Битовые сдвиги осуществляются в регистрах сдвига.</p>
        <ul>
            <li><strong>Логический сдвиг</strong> - уходящий бит
                исчезает, а на месте появившегося бита записывается бит 0.</li>
            <li><strong>Арифметический сдвиг</strong> - при сдвиге влево ведёт себя как логический сдвиг, при сдвиге вправо уходящий бит исчезает, не влияя на оставшиеся биты, а на месте появившегося бита устанавливается бит, соответствующий знаку.</li>
            <li><strong>Циклический сдвиг</strong> - уходящий бит появляется на месте появившегося свободного на другом конце числа</li>
            <li><strong>Циклический сдвиг через бит переноса</strong> - данная операция выполняет циклический сдвиг над (n+1)-битным числом, состоящим из регистра и флага переноса.</li>
        </ul>
    </div>
    <div>
        <p><strong>Регистр флагов</strong> — регистр процессора,
            отражающий текущее состояние процессора.</p>
        <p>В микропроцессорах Intel 8086 имеет название FLAGS и является 16-разрядным. Ярким примером флагов, входящих в состав регистра является флаг CF - флаг переноса.</p>
    </div>
{% endblock %}


