{% extends "base.html" %}
{% block content %}
    <div>
        <p>Основным элементом всех схемотехнических решений является
            <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентиль</span>.</p>
        <p><strong>Вентиль</strong> — цифровая схема, реализующая определённую базовую логическую операцию. Для изображения схем существует 2 нотации.</p>
        <img src="{{ url_for('static', filename='5_1.png') }}" alt=":(">
        <p>При конструировании интегральных схем в качестве базовых
            <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентилей</span> используются NOR, NAND. Каждый из
            этих <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентилей</span>
            является системообразующим. <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">Вентиль</span> может иметь разное
            количество входов и выходов. Работу любого <span class="tooltip" data-tooltip="{{ tool_for('Вентиль')
                    }}">вентиля</span> можно
            описать одним из двух эквивалентных способов — таблица
            истинности либо логическое выражение. В качестве логического
            выражения можно взять, например, ДНФ — дезъюнктивную
            нормальную форму. Любую логическую функцию можно привести к
            однозначной дизъюнктивной форме.
        </p>
        <p></p>
    </div>
{% endblock %}
