{% extends "base.html" %}
{% block content %}
    <div>
        <p><strong>Архитектура команд</strong>(ISA – Instruction Set Architecture) определяет типы внутренних данных,машинные команды, регистры, режимы адресации, архитектуру памяти, обработку прерываний и исключительных состояний, а также взаимодействие с внешними устройствами ввода/ вывода.
</p>
    </div>
    <div>
        <p><strong>RISС</strong>(Restricted Instruction Set Computer)  - это архитектура с “сокращенным” набором команд(на самом деле уже нет)
</p>
        <p>Принципы RISC:</p>
        <ol>
            <li>Основной набор команд не должен интерпретироваться микрокомандами, а должен выполняться аппаратным обеспечением.
</li>
            <li>Все команды должны иметь одинаковую длину и минимальное число форматов (обычно не более     2-3), это упрощает логику управления при выборе и при исполнении команды.</li>
            <li>Любая команда основного набора  должна выполняться за один машинный цикл. Это достигается параллельным выполнением  максимально возможного числа команд путем конвейеризации или  использования нескольких обрабатывающих узлов
</li>
            <li>Обращение к памяти должно производиться только по специально выделенным командам  работы с памятью типа:  Load – загрузка  и   Store – сохранение, а вся обработка данных должна вестись в регистровом формате; при этом количество регистров должно быть велико (100 и более).
</li>
            <li>Система команд должна обеспечивать поддержку компиляции с конкретного языка программирования  (компиляторы для RISC на порядок сложнее, чем компиляторы для CISC).</li>
        </ol>
    </div>

    <div>
        <p><strong>CISC</strong>(Complex Instruction Set Computing) — концепция проектирования процессоров, которая характеризуется следующим набором свойств:
</p>
        <ol>
            <li>Длина команды имеет нефиксированное значение.</li>
            <li>Арифметические действия кодируются в одной команде.</li>
            <li>Небольшое число регистров, каждый из которых выполняет строго определённую функцию.</li>
        </ol>
    </div>

    <div>
        <p>Выполнение типичной команды можно разделить на следующие этапы:</p>
        <ol>
            <li>выборка команды (по адресу, заданному счетчиком команд, из памяти извлекается команда)</li>
            <li>декодирование команды / выборка операндов из регистров</li>
            <li>выполнение операции / вычисление эффективного адреса памяти</li>
            <li>обращение к памяти</li>
            <li>запоминание результата</li>
        </ol>
    </div>

    <p>Шинный интерфейс соединяет ядро процессора с чипсетом и через него с оперативной памятью и устройствами ввода-вывода. От характеристик шинного интерфейса чуть ли не напрямую зависит производительность компьютера. Шинный интерфейс инициирует выборку машинного слова. А длина машинного слова зависит от разрядности шинных данных т.е разрядность шины данных определяет какую порцию информации можно передать за 1 обращение к памяти, что сказывается на производительности наравне с частотой работы шины.
</p>
{% endblock %}